freezegun==1.2.2
odoo-addon-account-edi-ubl-cii-purchase-match @ git+https://github.com/OCA/edi.git@refs/pull/1267/head#subdirectory=setup/account_edi_ubl_cii_purchase_match
odoo-addon-account_edi_ubl_move_line_uom_and_packaging_unece@ git+https://github.com/OCA/edi.git@refs/pull/1311/head#subdirectory=setup/account_edi_ubl_move_line_uom_and_packaging_unece
